@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: 'Exo', sans-serif;
}

main {
    flex: 1 0 auto;
}

.table-card {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 2px;
    background-color: white;
}

.table-card-header {
    padding: 16px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    align-items: center !important;
}

.table-card-header span i {
    display: flex;
    margin-right: 10px !important;
}

.table-card-title {
    font-weight: bold;
}

.table-card-action {
    width: 100%;
    text-align: end;
}

.table-card-body {
    padding: 15px 20px;
}

.pagination li.active-page {
    color: white !important;
    background-color: #2962ff !important;
}

.pagination li.active-page a {
    color: white !important;
}

td,
th {
    padding: 15px 20px;
}

.page-footer {
    padding-top: 0px;
}

.w-1 {
    width: 1px !important;
}

.row {
    margin-bottom: 0px;
}

.error-text {
    color: red;
    font-size: 12px;
}

.nowrap {
    white-space: nowrap;
}

.btn-group {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.btn-group>.btn:first-child:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.btn-group>.btn:not(:first-child):not(:last-child) {
    border-radius: 0;
}

.btn-group>.btn:last-child:not(:first-child),
.btn-group>.dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.btn-group>.btn-inactive {
    background-color: #607d8b;
}

.btn-group>.btn {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0);
}

.btn-group>.btn-inactive:hover {
    background-color: #728F9D;
}

.btn-group>.btn:hover {
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}